extends layout

block content
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var events=!{JSON.stringify(events)};

      if (!events || !events.sessions || events.sessions.length == 0) {
        generateNoSessions();
      } else {
        generateSessions(events.sessions);
        document.querySelector('.magnet-tile-subtitle').textContent += ' ' + events.date;
      }

      function generateNoSessions() {
        var list = document.querySelector('ul.magnet-tile-list');
        var li = document.createElement('li');
        li.textContent = 'No sessions';
        list.appendChild(li);
      }

      function generateSessions(sessions) {
        var list = document.querySelector('ul.magnet-tile-list');
        sessions.forEach(function(s) {
          var li = document.createElement('li');
          var a = document.createElement('a');
          a.innerHTML = '<em>' + s.time + '</em>' + s.title;
          a.href = s.link;
          li.appendChild(a);
          list.appendChild(li);
        });
      }

    });
  div.magnet-tile
    div.magnet-tile-row-1
      div.magnet-tile-icon
        div.inner
          img(src="#{icon}")
      h1.magnet-tile-title #{venue} schedule
    h2.magnet-tile-subtitle #{title} -
    ul.magnet-tile-list
