doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/style.css')
    - if (oembed)
      link(re='alternate', type='application/json+oembed', href=oembed)
  body
    block content
